.implementation {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 0 20px;
}

.implementation__header {
    text-transform: uppercase;
    font-size: 50px;
    margin: 30px 0;
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(255, 136, 0);
}

@media (max-width: 700px) {
    .implementation__header {
        font-size: 38px;
    }
}

.implementation:hover .implementation__header {
    border-bottom: 3px solid rgb(255, 136, 0);
    padding-bottom: 0;
}

.implementation__row {
    display: flex;
    flex-direction: column;
}

.implementation__item {
    margin: 5px 0 ;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("/image/img_12.jpg");
    transition: max-height 0.5s;
    overflow: hidden;
}
/* 
.implementation__item-button {
    background-color: violet;
} */

.implementation__item:hover {
    max-height: 2000px;
    transition: max-height 1s;
    overflow: unset;
}

.implementation__item:hover .implementation__item-img {
    opacity: 1;
}

.implementation__item-img {
    height: 200px;
    width: 270px;
    margin: 5px;
    border: 2px solid rgb(255, 136, 0);
    background-color: #ccc;
    opacity: 0;
    transition: opacity 0.5s;
    transition: transform 0.5s;
}

.implementation__item-img:hover {
    transform: scale(1.5);
}





/* .implementation__item {
    height: 260px;
    margin: 20px 0;
    background: url("/image/img_12.jpg");
    display: flex;
    flex-wrap: wrap;
}

.implementation__item:hover {
    background: white;

}

.implementation__item:hover .implementation__item-img {
    display: unset;
}

.implementation__item-img {
    height: 250px;
    width: 250px;
    margin: 5px;
    display: none;
    border: 2px solid rgb(255, 136, 0);
} */