.information {
    height: 50px;
    background: var(--color-primary);
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 991px) {
    .information {
        top: 50px;
    }
}

.information__item {
    margin: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

@media(max-width: 767px) {
    .information__item {
        margin: 0 10px 0 10px;
    }
}

.information__item-img {
    padding-right: 5px;
    height: 30px;
}

@media(max-width: 767px) {
    .information__item-img {
        height: 25px;
    }
}

.information__item-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

@media(max-width: 767px) {
    .information__item-link {
        font-size: 14px;
    }
}


