.services {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 910px) {
    .services {
        flex-wrap: wrap;
    }
}

.services__item {
    margin: 10px;
    flex-basis: 33%;
}

@media(max-width: 910px) {
    .services__item {
        margin: 10px 0;
        flex-basis: 100%;
    }
}

.services__item-img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto -80px;
    z-index: 2;
}

.services__item-border {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 5px solid white;
    border-left-color: var(--color-primary);
    border-right-color: var(--color-primary);
    border-radius: 50%;
    transition: 0.5s linear;
    transition-property: transform;
}
  
.services__item-border:hover {
    transform: rotate(180deg);
}

.services__item-img:hover ~ .services__item-border {
    transform: rotate(180deg);
}

.services__item-header {
    margin: 10px;
    font-size: 28px;
    text-align: center;
}

@media (max-width: 780px) {
    .services__item-header {
        font-size: 22px;
    }
}

.services__item-text {
    font-size: 20px;
    text-align: justify;
}

@media (max-width: 780px) {
    .services__item-text {
        font-size: 16px;
    }
}